# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf

# Normalize line endings for Godot text files
*.gd text eol=lf
*.tscn text eol=lf
*.tres text eol=lf
*.project text eol=lf
*.json text eol=lf

# Game Assets (Mark them as binary so Git doesn't try to read them like text)
*.png binary
*.jpg binary
*.jpeg binary
*.bmp binary
*.svg binary
*.ogg binary
*.wav binary
*.mp3 binary
*.gltf binary
*.glb binary
*.blend binary
*.fbx binary
*.obj binary
*.ttf binary
*.otf binary
*.woff binary